.colorbox {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  margin-top: 10px;
}

img {
  width: 150px;
}

.accordion {
  cursor: pointer;
  padding: 10px;
  background-color: skyblue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}